.intro{
  text-align: center;
}
h4{
  text-align: center;
}
element.style {
    background-image: url(w1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.view, body, html {
    height: 100%;
}
.view {
    position: relative;
    cursor: default;
}
.view, .view .mask, .waves-effect {
    overflow: hidden;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}

.social{
		display: flex;
		justify-content: center;
	}
.social a {
    border-radius: 100%;
    font-size: 1.8rem;
    margin: 0.5rem;
    color: white;
    background-color: dimgrey;
    display: inline-block;
    padding: 0.5rem;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
}
.social div{
	display: inline-block;
}
.social a:hover{
	background-color:crimson ;
	text-decoration: none;
}
.media-body{
  text-align: right;
}
